@font-face {
	font-family: "Raleway";
	src: url("font/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

body
{
	font-family: "Raleway";
}

.Page
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

header
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

#LogoReservia
{
	margin: 30px;
	width: 90px;
	height: 40px;
}

.navigation
{
	height: 50px;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.navigation ul
{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	width: 300px;
	margin-right: 30px;
	align-items: center;

}

.navigation a
{
	color: black;
	text-decoration: none;

}

.navigation a:hover
{
	border-top: #0065FC solid 2px;
	color: #0065FC;
	padding-top: 45px;
}

#inscription a 
{
	color: #0065FC;
	font-weight: bold;
}

.Titre
{	
	
	padding-left: 30px;
}

.title
{	
	font-size: 30px;	
	font-weight: bold;
}

.Titre p
{
	font-size: 21px;
}

.recherche
{
	padding-left: 30px;
	display: flex;
	margin-top: 50px;
}

.rechercheicon
{
	width: 50px;
	height: 50px;
	background-color: #F2F2F2;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.recherche input
{
	font-size: 24px;
	color: black;
	padding-left: 20px;
	width: 250px;
	border : none;
	border-top : solid 1px #F2F2F2;
	border-bottom : solid 1px #F2F2F2;

}

.recherche button
{
	background-color: #0065FC;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	color: white;
	font-size: 24px;
	border : none;
}

.recherche button:active
{
	outline-style: none;
}


.filtres
{
	display: flex;
	margin-top: 50px;
	margin-left: 30px;
	width: 70%;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.boxfiltre
{
	display: flex;
	align-items: center;
	height: 45px;
	border-top: 3px solid #F2F2F2;
	border-bottom: 3px solid #F2F2F2;
	border-right: 3px solid #F2F2F2;
	border-radius: 50px;

}

.boxfiltre i
{
	font-size: 25px;
}

.filtreicon
{
	color: #0065FC;
	border:0px solid black; 
	background-color: #DEEBFF;
	border-radius: 50px;
	height: 50px;
	width: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.textfiltre
{
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;

}


.infos
{
	margin-top: 50px;
	display: flex;
	padding-left: 30px;
	align-items: center;
}

.infoicon
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 25px;
	width: 25px;
	border: 1px solid #F2F2F2;
	border-radius: 100px;
	font-size: 13px;
	color: #0065FC;
}

.infos p
{
	margin-left: 20px;
}

#main
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}

.Hebergements .title
{
	margin: 45px;
}

.Hebergements
{	
	margin-top: 100px;
	background: #F2F2F2;
	width: 65%;
	margin-left: 20px;
	border-radius: 15px;
	min-height: 800px;
}

.titrebox
{
	font-size: 20px;
	margin-bottom: 0px;
}

.box-hebergements
{
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 600px;

}

.img-hebergements
{
	height: 150px;
	width: 100%;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	object-fit: cover;

}

.typebox1
{
	display: flex;
	flex-direction: column;
	border: solid white 5px;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0px 0px 15px 5px #ebebeb;
	height: 250px;
	width: 350px;
}

.boxdescription1
{
	margin-left: 10px;
	margin-bottom: 10px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
.boxdescription1 p
{
	margin: 0px;
}

.Hebergements p a
{

	margin-left: 45px;
	color: black;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;

}

aside
{
	margin-top: 100px;
	background: #F2F2F2;
	border-radius: 15px;
	height: 800px;
	margin-right: 20px;
	width: 550px;

}

.titrelpp

{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 17px;
	font-size: 30px;	
	font-weight: bold;
}

.boxlpp
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 600px;
	margin-top: 13px;
}

.typebox2
{
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	border: solid white 5px;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0px 0px 15px 5px #ebebeb;
	width: 90%;
}

.img-lpp
{
	height: 170px;
	width: 150px;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	object-fit: cover;
}

.boxdescription2
{
	margin-left: 20px;
}

.Activités
{
	margin-top: 100px;
	padding-left: 30px;
}

.boxactivités
{
	display: flex;
	flex-wrap: wrap;
	min-height: 610px;
	justify-content: space-between;
	margin-right: 20px;
}

.boxact2

{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 610px;

}

.vieuxport
{

	display: flex;
	flex-direction: column;
	width: 371.4px;
	height: 600px;
	border: solid white 5px;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0px 0px 15px 5px #ebebeb;

}

.img-activites1
{	
	width: 371.4px;
	height: 550px;
	object-fit: cover;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

.pomegues
{
	display: flex;
	flex-direction: column;
	height: 300px;
	width: 371.4px;
	border: solid white 5px;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0px 0px 15px 5px #ebebeb;
}

.img-activites2
{
	height: 250px;
	width: 371.4px;
	object-fit: cover;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

.frioul
{
	display: flex;
	flex-direction: column;
	height: 250px;
	width: 371.4px;
	border: solid white 5px;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0px 0px 15px 5px #ebebeb;
}

.img-activites3
{
	height: 200px;
	width: 371.4px;
	object-fit: cover;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

.calanques
{
	display: flex;
	flex-direction: column;
	height: 600px;
	width: 371.4px;
	border: solid white 5px;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0px 0px 15px 5px #ebebeb;
}

.garde
{
	display: flex;
	flex-direction: column;
	height: 250px;
	width: 371.4px;
	border: solid white 5px;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0px 0px 15px 5px #ebebeb;
}

.img-activites4
{
	height: 200px;
	width: 371.4px;
	object-fit: cover;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

.longchamp
{
	display: flex;
	flex-direction: column;
	height: 300px;
	width: 371.4px;
	border: solid white 5px;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0px 0px 15px 5px #ebebeb;
}

.img-activites5
{
	height: 250px;
	width: 371.4px;
	object-fit: cover;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

.titreboxh
{
	font-size: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
}

footer
{
	margin-top: 100px;
	background: #F2F2F2;
	padding-left: 30px;
}

footer a
{
	color: black;
	text-decoration: none;
}

.textfooter
{
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	flex-wrap: wrap;
}

.bluestar
{
	color: #0065FC;
}

.greystar
{
	color: #F2F2F2;
}

.note
{
	display: flex;
}

@media screen and (min-width: 1000px) {

	.recherche .boutonloupe {
		display: none;
	}
}

@media screen and (max-width: 800px)
{	

	
	body {
		margin: 0px;
	}
	
	header {
		width: 100%;
	}
	
	.Titre {
		max-width: 90%;
	}

	.recherche {
		padding-left: 0px;
		margin-left: 20px;	
	}

	.recherche .bouton {
		display: none;
	}

	.recherche .boutonloupe {
		border-radius: 15px;
		height: 50px;
		width: 50px;
		
	}

	.filtres{
		width: 100%;
	}
	.boxfiltre
	{

		margin-top: 10px;
	}

	.filtretitle {
		width: 100%;
	}
	.Hebergements .title {
		margin-left: 20px;
	}
	.Hebergements {
		background-color: white;
		margin: 0px;
		width: 100%;
	}

	.box-hebergements {
		margin-left: 0%;
		margin-right: 0%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.typebox1 {
		margin-top: 20px;
		width: 90%;
		
		}

	
	aside {
		width: 100%;
		border-radius: 0px;
		margin-right: 0px;
		margin-top: 50px;
	}
	
	.boxlpp {
		align-items: center;
	}

	.textfooter {
		display: flex;
		flex-direction: column;
	}

	.Activités {
		padding: 0px;
		margin-top: 50px;
	}

	.Activités .title {
		margin-left: 20px;
	}
	
	.boxactivités {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin: 0px;
	}


	.img-activites1 {
		max-height: 200px;
		width: 100%;
	}

	.vieuxport {
		margin-top: 20px;
		max-height: 250px;
		width: 90%;
	}

	.img-activites2 {
		max-height: 200px;
		width: 100%;
	}

	.pomegues {
		margin-top: 20px;
		max-height: 250px;
		width: 90%;
	}

	.img-activites3 {
		max-height: 200px;
		width: 100%;
	}

	.frioul {
		margin-top: 20px;
		max-height: 250px;
		width: 90%;
	}

	.img-activites4 {
		max-height: 200px;
		width: 100%;
	}

	.calanques {
		margin-top: 20px;
		max-height: 250px;
		width: 90%;
	}

	.img-activites5 {
		max-height: 200px;
		width: 100%;
	}

	.garde {
		margin-top: 20px;
		max-height: 250px;
		width: 90%;
	}

	.longchamp {
		margin-top: 20px;
		max-height: 250px;
		width: 90%;
	}

	.boxact2 {
		width: 100%;
		align-items: center;
	}

	.title {
		font-size: 23px;
	}

	.img-lpp {
		max-width: 120px;
	}

}

